@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-col {
        @apply flex flex-col items-center
    }
}

@layer components {
    .header-div {
        @apply bg-[#d62710] w-full rounded-[1.3rem_1.3rem_0rem_0rem];
    }
    .logo {
        @apply h-[2.5rem] w-[2.5rem];
    }
    .header-text {
        @apply text-black text-[1.3rem] m-5 font-bold;
    }
    .main {
        @apply mx-[15rem] rounded-[3rem] border-solid mt-[1rem] border-[0.5rem] border-[#d62710];
    }
    .loc-icon {
        @apply h-[1.5rem] w-[1.5rem];
    }
    .loc-cont {
        @apply text-[#333] flex my-[1rem] mx-[2rem];
    } 
    .loc {
        @apply text-[1.1rem] font-bold text-gray-500 capitalize;
    }
    .loc-name {
        @apply text-[2rem] font-bold text-black;
    }
    .loc-pic {
    @apply w-[15rem] h-[18rem] rounded-[1rem];
    }
    .cont {
        @apply ml-[0.3rem] p-4;
    }
    .footer-div {
        @apply m-3 font-bold text-gray-500;
    }
}

p {
    @apply text-[1rem];
}

